
@import 'material-icons/iconfont/material-icons.scss';

$error-background-color: #d41123fa;
$warning-background-color: #e15e0cfa;
$info-background-color: #6a93e2;
$success-background-color: #6ae2a6;

.message-dialog-backdrop {
  background-color:rgba(255,255,255,.3);
  backdrop-filter: blur(10px);
}

.message-dialog-error {
  .message-dialog-title {
    color: #eeeeee;
    background-color: #d41123fa;

    .message-dialog-title-icon {
      float: right;
      padding-top: 21px;
    }
  }

  .message-dialog-content {
    margin-top: 10px;
  }

  .message-dialog-actions {
    .message-dialog-actions-close-button {
      color: #d41123fa;
    }
  }
}

.message-dialog-warning {
  .message-dialog-title {
    color: #eeeeee;
    background-color: #e15e0cfa;

    .message-dialog-title-icon {
      float: right;
      padding-top: 21px;
    }
  }

  .message-dialog-content {
    margin-top: 10px;
  }

  .message-dialog-actions {
    .message-dialog-actions-close-button {
      color: #e15e0cfa;
      font-weight: 700;
    }
  }
}

.message-dialog-info {
  .message-dialog-title {
    color: #eeeeee;
    background-color: #6a93e2;

    .message-dialog-title-icon {
      float: right;
      padding-top: 21px;
    }
  }

  .message-dialog-content {
    margin-top: 10px;
  }

  .message-dialog-actions {
    .message-dialog-actions-close-button {
      color: #6a93e2;
      font-weight: 700;
    }
  }
}

.message-dialog-success {
  .message-dialog-title {
    color: #eeeeee;
    background-color: #6ae2a6;

    .message-dialog-title-icon {
      float: right;
      padding-top: 21px;
    }
  }

  .message-dialog-content {
    margin-top: 10px;
  }

  .message-dialog-actions {
    .message-dialog-actions-close-button {
      color: #6ae2a6;
      font-weight: 700;
    }
  }
}
